<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.diagnostics>
    <sources>
      
      <source name="System.Windows.Data" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      
      <!--
      <source name="System.Windows.DependencyProperty" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Freezable" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.RoutedEvent" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Media.Animation" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.NameScope" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.ResourceDictionary" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Markup" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Documents" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
    </sources>
 
 
    <switches>
      <add name="SourceSwitch" value="All" />
      <!--add name="SourceSwitch" value="Off" -->
      <!--add name="SourceSwitch" value="Verbose" -->
      <!--add name="SourceSwitch" value="Warning" -->
      <!--add name="SourceSwitch" value="Activity" -->
    </switches>
 
    <sharedListeners>
      <!-- This listener sends output to the console -->
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener"
           initializeData="false"/>
      <!-- This listener sends output to an Xml file named AvTrace.xml -->
      <add name="xmlListener"
           type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="None"
           initializeData="AvTrace.xml" />
      <!-- This listener sends output to a file named AvTrace.txt -->
      <add name="textListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="AvTrace.txt" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>
 
  </system.diagnostics>
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kent.Boogaart.HelperTrinity" publicKeyToken="cc96fa93a217f7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>